[Unit]
Description=A flexible DNS proxy, with support for encrypted DNS protocols
Documentation=https://github.com/jedisct1/dnscrypt-proxy/wiki
After=network.target
Before=nss-lookup.target
Wants=nss-lookup.target

[Service]
User=nobody
ExecStart=/usr/bin/dnscrypt-proxy -config /etc/dnscrypt-proxy/dnscrypt-proxy.toml
Restart=on-failure

PrivateTmp=yes
PrivateDevices=yes

RuntimeDirectory=dnscrypt-proxy

AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
